RewriteEngine on

#forward .com.au/.co.nz to .com
RewriteCond %{HTTP_HOST} ^philoye\.com\.au
RewriteRule (.*) https://www.philoye.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.philoye\.com\.au
RewriteRule (.*) https://www.philoye.com/$1 [R=301,L]

# Forward www to no-www
RewriteCond %{HTTP_HOST} ^www\.philoye\.com$ [NC]
RewriteRule ^(.*)$ https://philoye.com/$1 [R=301,L]

# Forward http to https
RewriteCond %{HTTP_HOST} ^philoye\.com$ [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://philoye.com/$1 [R,L]

#Fix trailing slash problem
RewriteRule ^([^\.]+[^/])$ https://philoye\.com/$1/ [R=301,L]

